body{
    overflow: hidden;
    margin: 0;
}

.container{
    /* % is the size we use for containers */
    width: 100%;
    height: 100%;

    /* adding color to see the container */
    background-color: beige;

    /* a way to break the flow layout */
    /* display of flex */
    display: flex;
    /* quick center on screen */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box{
    width: 100px;
    height: 100px;

    background-color: yellow;

    /* positioning any element inside of the box to use flex */
    display: flex;
    justify-content:center;
    align-items: center;
}

#move{
    width: 200px;
    height: 200px;

    background-color: cyan;

    /* a way to break the flow layout */
    /* adjust the position */
    position: absolute;
    /* positions shouldn't really use % */
    top: 50px;
    left: 500px;
}