/* this is a comment */

p {
    text-decoration: underline blue;
}

.blue-paragraph{
    color: white;
    /* float changes the block to be inline-block, and it removes it from the flow of the page. no longer has 100% width */
    float: right;
}

#important-paragraph{
    font-size: 24px;
    text-decoration: none;
    /* display with none removes the object from the flow of the page */
    /* display: none; */
}

#container{
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
}

.object{
    width: 50px;
    height: 50px;
    background-color: yellow;
    position: absolute;
    top: 20px;
    left: 100px;
}

.red-paragraph{
    background-color: maroon;
}